DATABASE_URL=postgresql://neondb_owner:npg_MZRze5ai6ESr@ep-divine-block-apz1qehw-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
GROQ_API_KEY=your_groq_api_key
PORT=3001
